# Create a Daily account at https://dashboard.daily.co/signup
# Add your API key below (found at https://dashboard.daily.co/developers)

VITE_DAILY_API_KEY=

# Add your Daily domain
# You can find your domain in the dashboard or 
# any room URL (e.g. https://YOUR-DOMAIN.daily.co/room-name)

VITE_DAILY_DOMAIN=