# Create a Daily account at https://dashboard.daily.co/signup
# Add your API key below (found at https://dashboard.daily.co/developers)

VITE_DAILY_API_KEY=

# Add your Daily subdomain
# You can find your subdomain in the dashboard or 
# any Daily room URL (e.g. https://YOUR-SUBDOMAIN.daily.co/room-name)
# Looking at the example URL above, VITE_DAILY_DOMAIN should be set to the URL's subdomain, "YOUR-SUBDOMAIN"

VITE_DAILY_DOMAIN=